.dot {
  width: 16px;
  height: 16px;
  border: 1px solid;
  border-radius: 50%;
  animation: falling 1s linear;
}
@keyframes falling {
    from {
        transform: translateY(0);
}

    to {
        transform : translateY(100vh);
    }
}