body {
  overflow: hidden;
  font-family: 'Helvetica', sans-serif
}

header {
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1;
  box-shadow: 0px 2px 2px #DEE5EC;
}
header label {
  padding-top: 1rem;
  display: block;
}

main {
  overflow: hidden;
  height: 100vh;
}

.dot {
  width: var(--dot-size);
  height: var(--dot-size);
  border: 1px solid;
  border-radius: 50%;
  animation: falling var(--falling-speed) linear forwards;
  animation-iteration-count: 1;

  box-sizing: border-box;
  position: absolute;
  left: calc(var(--offset-view-width) - var(--offset-ratio) * var(--dot-size));
}
@keyframes falling {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(100vh);
  }
}
