:root {
  --falling-speed: 1s;
  --dot-size: 100px;
  --initial-position: translateY(calc(-0.5 * var(--dot-size)));
}

body{
  overflow: hidden;
}

.dot {
  width: var(--dot-size);
  height: var(--dot-size);
  border: 1px solid;
  border-radius: 50%;
  animation: falling var(--falling-speed) linear;
  transform: var(--initial-position);
  box-sizing: border-box;
}
@keyframes falling {
    from {
        transform: var(--initial-position);
}

    to {
        transform : translateY(100vh);
    }
}